* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$azulEspecial: #576de7;
$rojoEspecial: #ce3850;
@import "nav";
@import "footer";
@import "mobile";
@import "tablet";

h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
h2 {
	font-family: 'Lato', sans-serif;
}
p {
	font-family: 'Lato', sans-serif;
}

@mixin kaushan {
	font-family: 'Kaushan Script', cursive;
}

h3 {
	@include kaushan
}
h4 {
	@include kaushan
}
.banner {
	display: block;
	margin: 0 auto;
	width: 100%;
}
.video-calendario {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
video {
	width: 520px;
	margin-top: 30px;
}

@mixin centrado {
	text-align: center;
}
#bones {
	@include centrado
}
#calendario {
	@include centrado
}
.table {
	margin-top: 40px;
}
.miembros {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: $azulEspecial;
	padding-top: 30px;
}
img.border {
	border-radius: 2% 2% 0% 0%;
	width: 295px;
	height: 350px;
	margin-bottom: 8px;
}
.integrantes {
	border: #ffffff;
	border-style: solid;
	text-align: center;
	margin: 10px;
	box-shadow: 5px 5px #ffffff;
	border-radius: 3%;
	&:hover {
		background-color: $rojoEspecial;
	}
}
#conocer-mas {
	text-align: center;
	background-color: $azulEspecial;
	padding-top: 30px;
	padding-bottom: 30px;
	border: #020202;
}
.button {
	background-color: $rojoEspecial;
	color: black;
	border: none;
	border-radius: 10%;
	padding: 1%;
	text-decoration: none;
}
.button1 {
	@extend .button;
}
#introduccion {
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
}
.calavera {
	width: 300px;
	height: 150px;
	margin-left: 30px;
	margin-right: 30px;
	&:hover {
		transform: rotate(60deg);
	}
}
#parrafo {
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
	font-size: 20px;
}
.titulo {
	color: #ffffff;
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.parrafo {
	color: #ffffff;
	font-size: 20px;
	text-align: justify;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 50;
}
#discografia {
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}
.portadaAlbum {
	text-align: center;
	box-shadow: 5px 5px #000000;
	border-radius: 3%;
	flex-wrap: wrap;
	margin: 20px;
	&:hover {
		transform: scale(1.1, 1.1);
		filter: contrast(0.8);
	}
}
#album {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 30px;
}
.contenedor {
	background-color: white;
	color: white;
	width: 800px;
	height: 80vh;
	font-size: 24px;
	text-align: center;
	align-self: center;
	margin: 100px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "ab ab c" "d ef ef";
}
.hijo {
	border: 3px solid white;
	p {
		font-size: medium;
	}
}
.ab {
	background-color: black;
	grid-area: ab;
}
.ef {
	background-color: black;
	grid-area: ef;
}
.c {
	grid-area: c;
}
.d {
	grid-area: d;
}
#mercury {
	margin-top: 30px;
	margin-bottom: 30px;
}
.background {
	background-image: url(https://previews.123rf.com/images/roystudio/roystudio1509/roystudio150900187/44756200-fondo-blanco-resumen-da-forma-de-tela-patr%C3%B3n-de-textura.jpg);
}
.titulosFanArt {
	font-size: 40px;
	padding-top: 30;
	margin-bottom: 30px;
	text-align: center;
}
.wallpaper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px;
}
.imgWallPaper {
	width: 300px;
	height: 470px;
	border-radius: 2%;
	margin-bottom: 30px;
	box-shadow: 5px 5px #000000;
	border-radius: 3%;
	&:hover {
		transform: scale(1.1, 1.1);
		filter: contrast(0.8);
	}
}
.alert {
	margin-left: 80px;
	margin-right: 80px;
}